.ls {
    backdrop-filter: blur(77px);
    color: white;
    height: 75vh;
    background-color: transparent;
   
}

  
  .ls::before {
    content: '';
    position: absolute;
    inset: 0;
    background: 
     
      url('/morning.webp') no-repeat center center / cover;
    filter: blur(4px);
    z-index: -1;
    
  }


  .inline-code {
  background-color: #f0f0f0;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: monospace;
  font-size: 0.8rem;
}



 
  


.night::before{
    content: '';
    position: absolute;
    inset: 0;
    background: 
      url('/night.webp') no-repeat center center / cover;
    z-index: -1;
  }


  .daysearch{
    background-color: rgb(113, 145, 172);
  }
  .nightsearch{
    background-color: #001030;
  }



.ls-top {
    padding: 20px;
}

.ls-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ls-nav .logo {
    max-width: 140px;
}

.ls-nav .menu img {
    max-height: 20px;
    opacity: 0.6;
    cursor: pointer;
}

.ls-nav .menu {
    position: relative;
    padding: 10px 0;
}

.menu .sub-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 130px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    color: black;
    display: none;
}

.sub-menu hr{
    border: none;
    height: 1px;
    background: #a4a4a4;
    margin: 8px 0;
}
.sub-menu p{
    cursor: pointer;
    font-size: 14px;
}
.menu:hover .sub-menu {
    display: block;
}

.ls-search {
  
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    margin-top: 20px;
    border-radius: 20px;
}

.ls-search img {
    width: 16px;
}

.ls-search input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 11px;
}

.ls-search input::placeholder {
    color: #c8c8c8;
}

.ls-list {
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
}

.friends {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13px;
}

.friends img {
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.friends div {
    display: flex;
    flex-direction: column;
}

.friends span {
    color: #9f9f9f;
    font-size: 11px;
}

.friends:hover {
    background-color: #077EFF;
}
.friends:hover span {
    color: white;
}

.add-user div {
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.add-user .add-icon {
    width: 25px;
}

.friends.border img {
    border: 3px solid #07fff3;
}

.friends.border div span {
    color: #07fff3;
}
@media (max-width: 900px) {
    .ls {
        width: 100vw;
        height: 100vh; /* Full height */
        position: fixed; /* Overlay effect */
        top: 0;
        left: 0;
        z-index: 1000; /* On top of other elements */
    }

    .hidden {
        display: none;
    }

    .ls-list {
        height: calc(100vh - 140px); /* Adjust based on nav + search bar height */
        overflow-y: auto;
    }
}